body {
  align-items: center;
  background-color: #eee;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: auto;
  width: 100vw;
}

#gamearea {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#questionCounter {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
}

#score {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px 0;
}

#questionarea {
  align-items: space-evenly;
  background-color: #fff;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  padding: 30px 60px;
  width: 500px;
}

#question {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 600;
  max-height: 250px;
  justify-content: space-around;
  text-align: center;
}

#question:first-child {
  margin: 0;
}

#answers {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
  text-align: center;
}

.answer {
  align-items: center;
  background-color: #4b98db;
  border-radius: 5px;
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 65px;
  justify-content: center;
  letter-spacing: 2px;
  margin: 0;
}

.answer:hover {
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
-moz-box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
  cursor: pointer;
}

#managequestions {
  color: #4b98db;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}

#managequestions:hover {
  cursor: pointer;
}

.chosenOption {
  background-color: #d18800;
}

.correct {
  background-color: #33b766;
}

.wrong {
  background-color: #b90000;
}

button {
  align-self: center;
  background-color:#CC4BC2;
  border-style: none;
  border-radius:50px;
  color:#ffffff;
  cursor:pointer;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size:40px;
  font-weight: 600;
  height: 250px;
  padding: 40px 0;
  text-decoration:none;
  width: 400px;
}

button:hover {
  -webkit-box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
-moz-box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
box-shadow: inset 0px 0px 20px 5px rgba(75, 75, 75, 0.75);
  cursor: pointer;
}

.bye {
  color: #fff;
  font-family: 'ZCOOL KuaiLe', cursive;
  text-shadow: 3px 3px #4b98db;
  font-size: 42px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  order: 1;
}