body {
  align-items: center;
  background-color: #eee;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: auto;
  width: 100vw;
}

#gamearea {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#score {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
}

#questionarea {
  align-items: stretch;
  background-color: #fff;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  height: 500px;
  justify-content: space-evenly;
  padding: 30px 60px 60px 60px;
  width: 500px;
}

#question {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  height: 150px;
  justify-content: center;
  text-align: center;
}

#question:first-child {
  margin: 0;
}

#answers {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  text-align: center;
}

.answer {
  align-items: center;
  background-color: #4b98db;
  border-radius: 5px;
  display: flex;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  height: 65px;
  letter-spacing: 2px;
}

#managequestions {
  color: #4b98db;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}

#managequestions:hover {
  cursor: pointer;
}

.chosenOption {
  background-color: #d18800;
}

.correct {
  background-color: #33b766;
}

.wrong {
  background-color: #b90000;
}