body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: auto;
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

#gamearea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#score {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
}

#questarea {
  align-items: stretch;
  background-color: #fff;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  padding: 30px 60px 60px 60px;
  width: 500px;
}

#question {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

#answers {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 300px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b98db;
  height: 65px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
}

#managequestions {
  color: #4b98db;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: 600;
  letter-spacing: 2px;
}