#menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.category {
  text-transform: uppercase;
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

.typeOfAlcohol {
  margin-right: 1vw;
}