body {
  margin: 0;
  padding: 0;
}

.menu {
  align-items: center;
  background-color: #b028ff;
  display: flex;
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.menuleft {
  background-color: #69ebfe;
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.menuright1 {
  background-color: #69ebfe;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
}

.menuright2 {
  background-color: #69ebfe;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 100px;
}

.content {
  display: flex;
  height: calc(200vh - 80px);
  width: 100vw;
}

.stuff {
  background-color: #f5d62b;
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5vw;
}

.hero {
  height: 8px;
  width: 63vw;
  background-color: #536;
  margin-bottom: 5vh;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box {
  height: 14vw;
  width: 14vw;
  background-color: red;
  margin-top: 5vh;
}

.sidebar {
  background-color: #51d400;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box2 {
  background-color: #536;
  height: 10vh;
  width: 25vw;
  margin-top: 15px;
}

