body{
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: #b02aff;
  display: flex;
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  width: calc(100vw - 20px);
  position: fixed;
}

.menuitem {
  background-color: #69ebfe;
  width: 100px;
  height: 40px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 180px);
  width: 80vw;
  padding: 90px 10vw 10px 10vw;
}

.left {
  background-color: #f5d62b;
  flex: 2;
}

.sidebar {
  background-color: #51d400;
  order: -1;
  flex: 1;
  margin-right: 10px;
}

.footer {
  background-color: #ccc;
  height: 80px;
  width: 80vw;
  margin: 0 10vw;
}