body {
  background-image: linear-gradient(90deg, #ddd,#aaa);
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #555;
  letter-spacing: 1vw;
  text-align: center;
  font-size: 5vh;
}

.left {
  background-image: url('leftarrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2vh 3vh;
}

.right {
  background-image: url('rightarrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2vh 3vh;
}

#main {
  align-items: stretch;
  display: flex;
  height: 30vw;
  justify-content: space-between;
  margin: auto;
  overflow: hidden;
  width: 60vw;
  -webkit-box-shadow: -1px 14px 27px 3px rgba(135,135,135,1);
  -moz-box-shadow: -1px 14px 27px 3px rgba(135,135,135,1);
  box-shadow: -1px 14px 27px 3px rgba(135,135,135,1);
}

.arrow {
  align-items: center;
  align-self: stretch;
  background-color: #fff;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  width: 3vw;
}

.arrow:hover {
  background-color: #fff;
  opacity: 1;
}

#bigImageContainer {
  flex: 1;
  position: relative;
}

h3 {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
  color: #fff;
  z-index: 1;
}

p {
  position: absolute;
  bottom: 0.5vh;
  left: 2vw;
  color: #ccc;
  z-index: 1;
}

.textbg {
  position: absolute;
  bottom: 0px;
  height: 9vh;
  width: 54vw;
  background-color: #000;
  opacity: 0.5;
}

#bigImage {
  width: 100%;
  z-index: -1;
}

#thumbnails {
  display: flex;
  width: 60vw;
  justify-content: center;
  margin: auto;
}

.smallImage {
  border: 6px solid #fff;
  border-radius: 2px;
  height: 10vh;
  margin: 1vh;
  width: 10vh;
  -webkit-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
  box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
}

.smallImage:hover {
  cursor: pointer;
}

.currentImage {
  -webkit-clip-path: polygon(50% 0, 60% 6%, 94% 6%, 94% 94%, 6% 94%, 6% 6%, 40% 6%);
  clip-path: polygon(50% 0, 60% 6%, 94% 6%, 94% 94%, 6% 94%, 6% 6%, 40% 6%);
  -webkit-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
  box-shadow: 0px 9px 7px -3px rgba(0,0,0,0.7);
}